.maincontainer-lp {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.content-lp {
    color: yellow;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.image-lp {
    width: 260px;
}